body{
    overflow-x: hidden;
    background:url('../img/grey_wash_wall.png');
}
body, html, .container-fluid{
    height: 100%;
    font-size: 20px;
}
.meeting-room{
    height: 100%;
    color: white;
}
.room-free .left-panel{
    background-color:rgba(49, 201, 104, 0.5);
}
.room-soon .left-panel{
    background-color:rgba(238, 200, 26, 0.5);
}
.room-busy .left-panel{
    background:rgba(215, 40, 40, 0.5);
}
.room-busy-soon .left-panel{
    background:rgba(215, 100, 40, 0.5);
}
h1{
    font-size:70px;
}
h1.room-status{
    font-size:110px;
}
.right-panel{
    height: 100%;
}
.left-panel{
    height: 100%;
}
.meeting-room .list-group-item{
    font-size:22px;
}
.meeting-room .list-group-item-heading{
    font-size:28px;
}

.current-time {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.ajax-failed{
    background-color: rgba(30,40,225,0.3);
    color: white;
}
.ajax-failed h1{
    color: white;
}