{% extends 'layout.twig' %}
{% block title %}Meeting Room Display - {{ room_name }}{% endblock %}

{% block content %}
    Loading room details...
{% endblock %}

{% block closing_scripts %}
<script>
    $( document ).ready(function() {


        var ajax_call = function() {
            $.get( "get-room/{{ room_name }}")
                .done(function( data ) {
                    //alert( "Data Loaded: " + data );
                        $("#ajax-target").removeClass('ajax-failed');
                        $("#ajax-target").html(data);
                }).fail(function( data ) {
                        $("#ajax-target").addClass('ajax-failed');
                        $("#ajax-target").html('<h1 class="text-center">Internet Connection Lost</h1><h3 class="text-center">Plese contact IT Help Desk!</h3>');
                });
        };

        var interval = 1000 * 60 * 1; // where X is your every X minutes

        setInterval(ajax_call, interval);

        ajax_call();
    });
</script>


{% endblock %}